:root {
  --primary: #4D7281;
  --primary-hover: #497689;
  --light: #E4E9EF;
  --danger: #E54122;
  --body-margin: 50px;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  margin: var(--body-margin) 0;
  font-family: 'Nunito', sans-serif;
  height: calc(100vh - 2 * var(--body-margin));
}

.logo {
  height: 45px;
}

.version {
  bottom: 0;
  right: 0;
}

.user {
  top: 0;
  right: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, label, .btn, a {
  font-weight: 600;
}

/* over-ride default variables colors */
a, label, .text-primary {
  color: var(--primary) !important;
}

a:hover {
  color: var(--primary-hover);
}

.text-danger {
  color: var(--danger) !important;
}

.card,
.card-header {
  border-radius: 1rem;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary)!important;
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover)!important;
  border-color: var(--primary-hover);
}

.btn-light,
.bg-light,
.badge-light {
  background-color: var(--light)!important;
  border-color: var(--light);
}

.btn-danger,
.bg-danger {
  background-color: var(--danger)!important;
  border-color: var(--danger);
}

.btn-lg {
  font-size: 1rem;
}

/* Navigation */
.nav-item.active {
  border-bottom: 4px solid var(--primary);
}

/* form styling*/
.form-control {
  border: 2px solid var(--light);
  padding: 1.25rem 0.75rem;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary);
}

.auth {
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}

.footer {
  bottom: 0;
  z-index: -1;
}

/* position bootstrap icons on buttons centrally */
[class^="bi-"]::before, [class*=" bi-"]::before {
  vertical-align: middle;
  line-height: 1.6;
}
