:root {
  --primary: #568ba2;
  --primary-hover: #497689;
}

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  overflow: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 100px;
  background: rgb(17, 25, 31);
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.23);
}

.logo {
  height: 30px;
}

.version {
  bottom: 0;
  right: 0;
}

/* over-ride default variables colors */
a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
}

.card,
.card-header {
  border-radius: 1rem;
}

.btn-primary,
.bg-primary {
  background-color: var(--primary)!important;
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover)!important;
  border-color: var(--primary-hover);
}

/* form styling*/
.form-control,
.input-group-text {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary);
}

.auth {
  width: 100%;
  max-width: 750px;
  margin: auto;
}
