<div class="form-check form-check-inline">
	<label class="form-check-label"><input class="form-check-input" type="radio" name="{name}" value="1" {if value==1}checked="checked"{/if}/> Yes</label>
	<label class="form-check-label"><input class="form-check-input" type="radio" name="{name}" value="0" {if value!=1}checked="checked"{/if}/> No</label>
</div>
