.DS_Store
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.run
node_modules
**/node_modules
**/node_modules/**
*/node_modules
*/node_modules/*
**/build
**/.cache
ignore
**server/var**
**server/build**
**server/webapp**
