# When running as monolith/bundle
# Note: default docker image without any extra command will
# force :80 via flag and override anything you set here
HTTP_ADDR=:80

# SMTP configuration
# For dev environment, run mailhog (`make mailhog.up`), set SMTP_HOST to `localhost:1025`
# and visit localhost:8025.
SMTP_HOST=localhost:1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Corteza" <info@example.tld>

# JWT Secret, shared among all services.
# If not set, some random value will be set
AUTH_JWT_SECRET=

# JWT expiration
AUTH_JWT_EXPIRY=

# Debug level you want to use (anything equal or lower than that will be logged)
# Values: debug, info, warn, error, panic, fatal
LOG_LEVEL=info

# Output log in JSON format
# Setting this to true will enable yoi to ship docker container logs directly to your ELK stack
LOG_JSON=false

# Timeout for internal HTTP client
HTTP_CLIENT_TIMEOUT=30s

# Allow usage of insecure hosts (self-signed, expired certificates)
HTTP_CLIENT_TSL_INSECURE=false

########################################################################################################################
# When running separate services (microservice-like architecture)
#
# Prefixed ENV variables allow you to keep the same .env file for all services


#-----------------------------------------------------------------------------------------------------------------------
# System

# Database to use
SYSTEM_DB_DSN=corteza:corteza@tcp(localhost:3306)/corteza?collation=utf8mb4_general_ci

# Database query profiler
SYSTEM_DB_PROFILER=stdout

# Enable provisioning on startup: migrate database
SYSTEM_PROVISION_MIGRATE_DATABASE=true

# Enable provisioning on startup: auto-setup
SYSTEM_PROVISION_AUTO_SETUP=true

# System specific settings:
SYSTEM_HTTP_ADDR=:80

# Enable /debug route
SYSTEM_HTTP_ENABLE_DEBUG_ROUTE=true

# Enable /version route
SYSTEM_HTTP_ENABLE_VERSION_ROUTE=true

# Add stack trace on error to HTTP response
SYSTEM_HTTP_ENABLE_ERROR_TRACKING=true

# Log HTTP requests
SYSTEM_HTTP_LOG=true

# Serve prometheus metrics under /metrics
SYSTEM_HTTP_METRICS=true

# Metrics service label
SYSTEM_HTTP_METRICS_NAME=corteza

# Metrics access username
SYSTEM_HTTP_METRICS_USERNAME=metrics

# Metrics access password
SYSTEM_HTTP_METRICS_PASSWORD=metrics

# Log interval for monitoring
SYSTEM_MONITOR_INTERVAL=5min

#-----------------------------------------------------------------------------------------------------------------------
# Messaging

# Database to use
SYSTEM_DB_DSN=corteza:corteza@tcp(localhost:3306)/corteza?collation=utf8mb4_general_ci

# Database query profiler
SYSTEM_DB_PROFILER=stdout

# Enable provisioning on startup: migrate database
SYSTEM_PROVISION_MIGRATE_DATABASE=true

# Enable provisioning on startup: auto-setup
SYSTEM_PROVISION_AUTO_SETUP=true

# System specific settings:
SYSTEM_HTTP_ADDR=:80

# Enable /debug route
SYSTEM_HTTP_ENABLE_DEBUG_ROUTE=true

# Enable /version route
SYSTEM_HTTP_ENABLE_VERSION_ROUTE=true

# Add stack trace on error to HTTP response
SYSTEM_HTTP_ENABLE_ERROR_TRACKING=true

# Log HTTP requests
SYSTEM_HTTP_LOG=true

# Serve prometheus metrics under /metrics
SYSTEM_HTTP_METRICS=true

# Metrics service label
SYSTEM_HTTP_METRICS_NAME=corteza

# Metrics access username
SYSTEM_HTTP_METRICS_USERNAME=metrics

# Metrics access password
SYSTEM_HTTP_METRICS_PASSWORD=metrics

# Log interval for monitoring
SYSTEM_MONITOR_INTERVAL=5min

# Websocket connection ping period
# MESSAGING_WEBSOCKET_PING_PERIOD=

# Websocket connection ping timeout
# MESSAGING_WEBSOCKET_PING_TIMEOUT=

# Websocket connection timeout
# MESSAGING_WEBSOCKET_TIMEOUT=

#-----------------------------------------------------------------------------------------------------------------------
# System

# Database to use
SYSTEM_DB_DSN=corteza:corteza@tcp(localhost:3306)/corteza?collation=utf8mb4_general_ci

# Database query profiler
SYSTEM_DB_PROFILER=stdout

# Enable provisioning on startup: migrate database
SYSTEM_PROVISION_MIGRATE_DATABASE=true

# Enable provisioning on startup: auto-setup
SYSTEM_PROVISION_AUTO_SETUP=true

# System specific settings:
SYSTEM_HTTP_ADDR=:80

# Enable /debug route
SYSTEM_HTTP_ENABLE_DEBUG_ROUTE=true

# Enable /version route
SYSTEM_HTTP_ENABLE_VERSION_ROUTE=true

# Add stack trace on error to HTTP response
SYSTEM_HTTP_ENABLE_ERROR_TRACKING=true

# Log HTTP requests
SYSTEM_HTTP_LOG=true

# Serve prometheus metrics under /metrics
SYSTEM_HTTP_METRICS=true

# Metrics service label
SYSTEM_HTTP_METRICS_NAME=corteza

# Metrics access username
SYSTEM_HTTP_METRICS_USERNAME=metrics

# Metrics access password
SYSTEM_HTTP_METRICS_PASSWORD=metrics

# Log interval for monitoring
SYSTEM_MONITOR_INTERVAL=5min
