# Corteza configuration

# All variables can be prefixed with <APP>_ (MESSAGING_, SYSTEM_, _COMPOSE) to
# achieve different behaviour for a specific app.

# Note: default docker image without any extra command will
# force :80 via flag and override anything you set here
HTTP_ADDR=:80

# SMTP configuration
# For dev environment, run mailhog (`make mailhog.up`), set SMTP_HOST to `localhost:1025`
# and visit localhost:8025.
SMTP_HOST=localhost:1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Corteza" <info@local.cortezaproject.org>

# JWT Secret, shared among all services.
# If not set, random value will be set every time you reset the service
#AUTH_JWT_SECRET=

# JWT expiration (default 30 days)
#AUTH_JWT_EXPIRY=

# Debug level you want to use (anything equal or lower than that will be logged)
# Values: debug, info, warn, error, panic, fatal
LOG_LEVEL=info

# Timeout for internal HTTP client
HTTP_CLIENT_TIMEOUT=30s

# Allow usage of insecure hosts (self-signed, expired certificates)
HTTP_CLIENT_TSL_INSECURE=false

# Log HTTP requests
HTTP_LOG_REQUESTS=true

# Monitoring log interval
MONITOR_INTERVAL=5min

# Database to use
DB_DSN=corteza:corteza@tcp(localhost:3306)/corteza?collation=utf8mb4_general_ci

# Log database queries?
#DB_LOGGER=false

# Logging level we want to use (values: debug, info, warn, error, dpanic, panic, fatal)
#LOG_LEVEL=info

# Enable debug logger (more verbose,
#LOG_DEBUG=false
