.permissions-dropdown {
  li {
    line-height: initial;
  }

  .dropdown-item {
    padding: 0;
  }
}

// Styles for field viewers and editors, they're here since they're used in multiple places
.field-container {
  .form-row {
    margin: 0;

    [class*="col-"] {
      padding: 0;
    }
  }

  .value {
    min-height: 1.2rem;
  }

  .inline-actions {
    opacity: 0;
    transition: opacity 0.25s;

    button:hover {
      color: var(--primary) !important;
    }
  }

  &:hover {
    .inline-actions {
      opacity: 1;
    }
  }
}

.value-only {
  .col-form-label {
    padding-bottom: 0px !important;
  }
}
