@font-face {
  font-family: 'Poppins-Bold';
  src: url($fonts_dir + 'poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url($fonts_dir + 'poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url($fonts_dir + 'poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url($fonts_dir + 'poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url($fonts_dir + 'poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url($fonts_dir + 'poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url($fonts_dir + 'poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url($fonts_dir + 'poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url($fonts_dir + 'poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url($fonts_dir + 'poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url($fonts_dir + 'poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url($fonts_dir + 'poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url($fonts_dir + 'poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url($fonts_dir + 'poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url($fonts_dir + 'poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url($fonts_dir + 'poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url($fonts_dir + 'poppins/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url($fonts_dir + 'poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
