.DS_Store
node_modules
dist
*.log
.env
coverage
.nyc_output
package-lock.json

# Prevent rollup output artifacts in src/
src/*.map

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
