//================================================
// Webapp Variables
//================================================

$wideminwidth: 767px !default;
$confortableminwidth: 1020px !default;

// Typography
$font-light: 'Poppins-Light' !default;
$font-regular: 'Poppins-Regular' !default;
$font-medium: 'Poppins-Medium' !default;
$font-semibold: 'Poppins-Semibold' !default;
$font-bold: 'Poppins-Bold' !default;
$font-size-base: 0.9rem !default;

$font-family-base:      $font-regular !default;
$headings-font-family:  $font-semibold !default;

// Color system
$white:         #FFFFFF !default;
$black:         #162425 !default;
$primary:       #0B344E !default;
$secondary:     #758D9B !default;
$success:       #43AA8B !default;
$warning:       #E2A046 !default;
$danger:        #E54122 !default;
$light:         #E4E9EF !default;
$extra-light:   #F3F5F7 !default;
$dark:          #162425 !default;
$tertiary:      #5E727E !default;

$gray-200:      #F9FAFB !default;

// Body
$body-bg: $gray-200 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "white": $white,
    "tertiary": $tertiary
  ),
  $theme-colors
);

// Grid - maybe not the smartest idea to change this but let's see
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1500px
) !default;

// Options
$enable-rounded:   true !default;
$enable-gradients: false !default;
$enable-responsive-font-sizes: true !default;

// Card
$card-border-radius: 1rem !default;
$card-border-width:  0 !default;
$card-cap-bg:        $gray-200 !default;

// Tables
$table-cell-padding-sm: 0.25rem !default;
$table-hover-bg:     $gray-200 !default;

// Buttons
$btn-font-size: $font-size-base !default;
$btn-padding-y: 0.25em !default;
$btn-padding-x: 1em !default;

$btn-focus-width:       0.2rem !default;
$btn-focus-box-shadow:  none !default;
$btn-active-box-shadow: none !default;

$btn-font-size-lg:  16px !default;
$btn-font-family:   $font-semibold !default;

$topbar-height:         64px !default;

// Navbar
$navbar-bg:             $white !default;
$navbar-color:          $black !default;
$navbar-border:         $primary !default;
$navbar-active-bg:      $white !default;
$navbar-active-color:   $primary !default;
$navbar-active-border:  $primary !default;
$navbar-hover-bg:       $white !default;
$navbar-hover-color:    $primary !default;
$navbar-hover-border:   $primary !default;
$navbar-height:         50px !default;
$navbar-padding-y:      0 !default;
$navbar-padding-x:      0 !default;

$navbar-toggler-font-size:  24px !default;
$sidebar-width:         320px !default;
$sidebar-bg:            #F4F7FA;

// Pagination
$pagination-color:        $primary !default;
$pagination-disabled-bg:  transparent !default;
$pagination-bg:           transparent !default;
$pagination-active-bg:    $primary !default;
$pagination-border-width: 0 !default;

// Forms
$input-font-size: $font-size-base !default;

$input-border-color:  $light !default;
$input-border-width:  2px !default;

$input-btn-focus-width:     0 !default;
$input-focus-box-shadow:    none !default;
$input-focus-border-color:  $primary !default;

$corteza-specific: () !default;
$corteza-specific: map-merge(
  (
    "gray-200": $gray-200,
    "body-bg": $body-bg,
    "sidebar-width": $sidebar-width,
    "font-regular": $font-regular,
    "font-semibold": $font-semibold,
    "font-family-base": $font-family-base,
    "font-medium": $font-medium,
    "btn-font-family": $btn-font-family,
    "btn-padding-x": $btn-padding-x,
    "btn-padding-y": $btn-padding-y,
    "topbar-height": $topbar-height
  ),
  $corteza-specific
);

/* stylelint-disable */
// This is used within corteza-webapp-compose/src/lib/block/Calendar/feedLoader/
// to determine default event colors
:export {
  primary: $primary;
  danger: $danger;
  secondary: $secondary;
}
/* stylelint-enable */
