/* stylelint-disable no-descending-specificity */
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
}

:focus {
  outline-color: var(--primary);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.btn-link {
  &:focus {
    text-decoration: none;
  }
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
}

thead th,
legend,
label,
.btn {
  font-family: var(--font-medium);
}

strong,
b,
.font-weight-bold {
  font-family: var(--font-semibold);
}

th {
  white-space: nowrap;
}

.vue-grid-layout {
  transition: none !important;
}

.vue-grid-item {
  transition: none !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.loader {
  height: calc(100vh - 2 * #{var(--topbar-height)});
  display: flex;
  align-items: center;
  justify-content: space-around;

  .pending {
    width: 30px;
  }

  .logo {
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130px;
  }
}

.ProseMirror.ProseMirror-focused {
  outline: none;
}

// Pagination
.page-item {
  &.disabled {
    cursor: not-allowed;
  }
}

// Rich text content styling
.rt-content {
  &.editor {
    border-radius: 4px;
    border: 2px solid var(--light);
  }

  .editor__content {
    min-height: 200px;
  }

  .btn {
    width: 60px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  // blockquote
  blockquote {
    border-left: 3px solid rgba(var(--black), 0.1);
    padding-left: 0.8rem;
    font-style: italic;
  }

  // Code
  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  // todo list - https://github.com/scrumpy/tiptap/blob/master/examples/Components/Routes/TodoList/index.vue
  li[data-type="todo_item"] {
    display: flex;
    flex-direction: row;
  }

  .todo-checkbox {
    border: 2px solid var(--black);
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 0.3rem;
    user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.4s background;
  }

  .todo-content {
    flex: 1;

    > p:last-of-type {
      margin-bottom: 0;
    }

    > ul[data-type="todo_list"] {
      margin: 0.5rem 0;
    }
  }

  li[data-done="true"] {
    > .todo-content {
      > p {
        text-decoration: line-through;
      }
    }

    > .todo-checkbox {
      background-color: var(--black);
    }
  }

  li[data-done="false"] {
    text-decoration: none;
  }
}

fieldset.required {
  &.error {
    legend::before {
      color: var(--danger);
    }
  }

  label::after {
    content: "*";
    display: inline-block;
    color: var(--danger);
    width: 10px;
    height: 18px;
    overflow: hidden;
  }
}

.b-toaster.b-toaster-bottom-right {
  bottom: 75px;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-col-3 {
  column-gap: 1.5rem;
}

// Supporting CSS to improve print-to-PDF option
@media print {
  @page {
    size: auto;
  }

  body {
    margin: 0;
    color: var(--black);
    background-color: var(--white);
  }

  .block {
    break-inside: avoid;
    width: 100%;
  }
}
