/.idea
/coverage.txt
/*.iml
/.env*
/.dev*
/.*cover.out*
/overalls*
profile.coverprofile
/public_html
/build
/var
/TODO
/gin-bin
/.vscode
/federation/etc/.env*

# https://github.com/nektos/act
/.act*
/workflow

/profiles