$wideminwidth: 768px !default;

// Paths
$fonts_dir : '/fonts/' !default;
$icomoon-font-path: $fonts_dir + 'icomoon' !default;
$icomoon-font-family: "icomoon" !default;

// Typography
$font-light: 'Poppins-Light' !default;
$font-regular: 'Poppins-Regular' !default;
$font-medium: 'Poppins-Medium' !default;
$font-semibold: 'Poppins-Semibold' !default;
$font-bold: 'Poppins-Bold' !default;
$font-size-base: 0.9rem !default;

$font-family-base:      $font-regular !default;
$headings-font-family:  $font-semibold !default;

// Color system
$white:         #FFFFFF !default;
$black:         #162425 !default;
$primary:       #0B344E !default;
$secondary:     #758D9B !default;
$success:       #43AA8B !default;
$warning:       #E2A046 !default;
$danger:        #E54122 !default;
$light:         #F3F5F7 !default;
$dark:          #162425 !default;

$gray-200:      #F9FAFB !default;

// Options
$enable-rounded:   true !default;
$enable-gradients: false !default;
$enable-responsive-font-sizes: true !default;

// Body
$body-bg: $gray-200 !default;

// Card
$card-border-radius: 1rem !default;
$card-border-width:  0 !default;
$card-cap-bg:        $gray-200 !default;

// Buttons
$btn-font-size: $font-size-base !default;
$btn-padding-y: 0.25em !default;
$btn-padding-x: 1em !default;

$btn-focus-width:       0.2rem !default;
$btn-focus-box-shadow:  none !default;
$btn-active-box-shadow: none !default;

$btn-font-size-lg:  16px !default;
$btn-font-family:   $font-semibold !default;

$topbar-height:         64px !default;


// Forms
$input-font-size: $font-size-base !default;

$input-border-color:  $light !default;
$input-border-width:  2px !default;

$input-btn-focus-width:     0 !default;
$input-focus-box-shadow:    none !default;
$input-focus-border-color:  $primary !default;
