<div class="form-group">
	<div class="input-group input-group-sm">
		<input type="text" name="{name}" value="{value}" id="{name}" class="form-control tac"/>
		<div class="input-group-addon">
			<i class="fa fa-calendar-plus-o" aria-hidden="true" onClick="return showCalendar('{name}', '%Y-%m-%d %H:%M:%S',true,true);"></i>
			&nbsp;
			<i class="fa fa-clock-o hand" aria-hidden="true" onClick="var xx=new Date; $('#{name}').val(xx.toISOString().replace('T', ' ').split('.')[0]); return false;"></i>
		</div>
	</div>
</div>