html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

@media (max-width: 576px) {
  .flex-fill-child > * {
    flex: 1 1 auto !important;
  }
}

:disabled, .disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

thead th,
legend,
label {
  font-family: var(--font-medium);
}

strong,
b,
.font-weight-bold {
  font-family: var(--font-semibold);
}

a.btn:not(.btn-link) {
  text-decoration: none;
}

.tabs > .card-header {
  border-bottom: 1px solid var(--extra-light) !important;
  padding-top: 0 !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;

  .card-header-tabs {
    border-bottom: 0 !important;
  }
}

.card-header {
  .nav-item {
    font-family: var(--font-medium) !important;
    margin-bottom: 0 !important;

    .nav-link {
      padding: 0.5rem !important;

      &:not(.active):not(.disabled) {
        color: var(--dark) !important;
      }
    }
  }
}

.b-form-tag {
  align-items: center !important;
}

// Used for back button
.back {
  &:hover {
    text-decoration: none;

    .back-icon {
      transition: transform 0.3s ease-out;
      transform: translateX(-4px);
    }
  }
}

[dir="rtl"] {
  .back {
    .back-icon {
      display: none;
    }
  }
}

.table.b-table {
  th {
    white-space: nowrap;
  }

  tr {
    &:first-child td {
      border: none;
    }

    th {
      border: 0;
    }
  }
}

fieldset.required {
  legend > div:first-child > span:first-child::after {
    content: "*";
    color: var(--danger);
  }
}

// Padding because of toolbar
.b-toaster.b-toaster-bottom-right {
  bottom: 75px;
}

// Fixes dropdowns in scrollable modals
.modal-dialog-scrollable .modal-content {
  overflow: initial;
}

.dropdown-menu * {
  font-family: var(--font-regular) !important;

  .dropdown-item {
    outline: none !important;

    * {
      border: 0 !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }

    &:active * {
      color: var(--white) !important;
    }
  }
}

// Rich text content styling
.rt-content {
  p {
    margin: 0 !important;
    padding: 0 !important;
  }

  // blockquote
  blockquote {
    border-left: 3px solid rgba(var(--black), 0.1) !important;
    padding-left: 0.8rem !important;
    font-style: italic !important;
  }

  // Code
  pre {
    background-color: var(--black) !important;
    color: var(--white) !important;
    overflow: visible !important;
    white-space: pre-wrap !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 5px 10px !important;
    border-radius: 3px !important;
  }

  // todo list - https://github.com/scrumpy/tiptap/blob/master/examples/Components/Routes/TodoList/index.vue
  li[data-type="todo_item"] {
    display: flex !important;
    flex-direction: row !important;
  }

  .todo-checkbox {
    border: 2px solid var(--black) !important;
    height: 0.9em !important;
    width: 0.9em !important;
    box-sizing: border-box !important;
    margin-right: 10px !important;
    margin-top: 0.3rem !important;
    user-select: none !important;
    cursor: pointer !important;
    border-radius: 0.2em !important;
    background-color: transparent !important;
    transition: 0.4s background !important;
  }

  .todo-content {
    flex: 1 !important;

    > p:last-of-type {
      margin-bottom: 0 !important;
    }

    > ul[data-type="todo_list"] {
      margin: 0.5rem 0 !important;
    }
  }

  li[data-done="true"] {
    > .todo-content {
      > p {
        text-decoration: line-through !important;
      }
    }

    > .todo-checkbox {
      background-color: var(--black) !important;
    }
  }

  li[data-done="false"] {
    text-decoration: none !important;
  }
}

.ProseMirror.ProseMirror-focused {
  outline: none !important;
}

.vue-grid-layout {
  transition: none !important;
}

.vue-grid-item {
  transition: none !important;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 7px;

  &:hover {
    background-color: var(--primary);
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.sidebar-spacer {
  min-width: 0px;
  transition: min-width 0.15s ease-in-out;

  &.expanded {
    min-width: calc(var(--sidebar-width));
    transition: min-width 0.15s ease-in-out;
  }
}

// Supporting CSS to improve print-to-PDF option
@media print {
  @page {
    size: auto;
  }

  body {
    margin: 0;
  }

  header, footer, aside, nav {
    display: none;
  }

  .block {
    break-inside: avoid;
    width: 100%;
  }
}


// Rich text editor stuff
/* Basic editor styles */
.rt-content {
  position: static !important;
}

.rt-content :first-child {
  margin-top: 0 !important;
}

/* Table-specific styling */
.rt-content  table {
  white-space: normal !important;
  border-collapse: collapse !important;
  margin: 0 !important;
  overflow: hidden !important;
  table-layout: fixed !important;
  width: 100% !important;
}

.rt-content  td,
.rt-content  th {
  border: 1px solid var(--extra-light) !important;
  box-sizing: border-box !important;
  min-width: 1em !important;
  padding: 6px 8px !important;
  position: relative !important;
  vertical-align: top !important;
}

.rt-content  td > *,
.rt-content  th > * {
  margin-bottom: 0 !important;
}

.rt-content  th {
  background-color: var(--extra-light) !important;
  font-weight: bold !important;
  text-align: left !important;
}

.rt-content  .selectedCell::after {
  background: var(--light) !important;
  opacity: 0.8 !important;
  content: "" !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  z-index: 2 !important;
}

.rt-content  .column-resize-handle {
  background-color: var(--primary) !important;
  bottom: -2px !important;
  pointer-events: none !important;
  position: absolute !important;
  right: -2px !important;
  top: 0 !important;
  width: 4px !important;
}

.rt-content  .tableWrapper {
  overflow-x: auto !important;
}

.rt-content .resize-cursor {
  cursor: ew-resize !important;
  cursor: col-resize !important;
}