#DB_DSN=mysql://uod:pwd@tcp(localhost:3306)/dbname?collation=utf8mb4_general_ci
#DB_DSN=postgres://uid:pwd@localhost:5432/dbame?sslmode=disable
#DB_DSN=sqlite3://file::memory:?cache=shared&mode=memory
