TEST_STORE_ADAPTERS_RDBMS_mysql=mysql://uod:pwd@tcp(localhost:3306)/dbname?collation=utf8mb4_general_ci
TEST_STORE_ADAPTERS_RDBMS_postgres=postgres://uid:pwd@localhost:5432/dbame?sslmode=disable
TEST_STORE_ADAPTERS_RDBMS_sqlite3=sqlite3://file::memory:?cache=shared&mode=memory
