[dir="rtl"] {
  text-align: right;

  .popover,
  ul.vs__dropdown-menu,
  .dropdown-menu {
    right: auto !important;
  }

  .fa-angle-left,
  .fa-angle-right,
  .fa-angle-double-left,
  .fa-angle-double-right {
    transform: rotate(180deg);
  }
}
